.content {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.animation__circle {
  animation: circle 35s linear infinite;
  font-size: 300px;
  line-height: 0.8;
  color: #255af6;
}

@keyframes circle {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
