.content {
  overflow: hidden;
  white-space: nowrap;
  height: 380px;
  width: 1900px;
}
.animation__circle {
  position: relative;
  animation: circle 35s linear infinite;
  margin: 0;
  font-weight: 400;
  font-size: 300px;
  line-height: 160%;
  top: -130px;
  color: #255af6;
}

@keyframes circle {
  0% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
