@font-face {
  font-family: "NeueMachina";
  src: local("NeueMachina"), url(".//fonts/NeueMachina-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "NeueMachina";
  src: local("NeueMachina"), url(".//fonts/NeueMachina-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "NeueMachina";
  src: local("NeueMachina"), url(".//fonts/NeueMachina-Regular.ttf");
  font-weight: 400;
}

body {
  margin: 0;
  color: #ffff;
  font-family: "NeueMachina";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;

  font-size: 18px;
  line-height: 130%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: #ffff;
}
